$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 80rem; // 1280px

$body-font: "AvenirNextLTPro";
$subheader-font: "AvenirNextLTPro-Demi";

//theme colors
$primary: #323232;
$secondary: #fafafa;
$white: #ffffff;
